.footerWrapper {
    background: black;
    overflow: hidden;
}

.credit {
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, rgba(172,255,0,1) 0%, rgba(124,59,2,1) 100%);
    background-image: url("../../assets/BG2.jpeg");

    display: flex;
    justify-content: center;
    align-items: center;
}

.gossipScroll {
    font-size: 16px;
    border-block: 1px solid;
    overflow: hidden;
    user-select: none;
    display: flex;

    direction: rtl;
}

.gossipScroll:hover ul{
    animation-play-state: paused;
}

.gossipScroll ul {
    list-style: none;
    display: flex;
    flex-shrink: 0  ;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    min-width: 100%;
    margin: 0;
    padding: 0;
    padding-right: 1rem;
    animation: scroll 35s linear infinite;
}

.gossipItem {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}