.home {
    display: flex;
    flex: 1;
}

.landing {
    background-color: rgb(43, 43, 43);
    width: 70%;
    margin: 0 auto;
    height: 17000px;
    position: relative;
    overflow: hidden;
}

.landing .yellowstrip {
    content: "";
    background-color: yellow;
    height: 100%;
    width: 20px;
    position: absolute;
    z-index: 999;
}

.landing .left {
    left: 25px;
}

.landing .right {
    right: 25px;
}

.landing .dashed {
    content: "";
    border: 20px white dashed;
    height: 100%;
    width: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
}

.landing .scroll {
    font-size: 30px;
    z-index: 99999;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
    width: 93.5%;
    text-align: center;
    background-color: yellow;
    color: brown;
}

.landing .scroll1 {
    font-size: 50px;
    z-index: 99999;
    position: absolute;
    left: 50%;
    
    top: 50%;
    transform: translate(-50%, 0);
    width: 93.5%;
    text-align: center;
    background-color: yellow;
    color: brown;
}

.home .blessWrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    background-color: white;
    color: black;
    /* opacity: 80%; */
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    z-index: 9999999999999999999;
}

@media screen and (max-width: 768px) {
    .landing {
        width: 95%;
        font-size: 20px;
    }

    .home .blessWrapper {
        width: 75%;
        font-size: 16px;
    }
    
    .landing .scroll {
        font-size: 24px;
    }
}