.signup {
    flex: 1;
}

.signup .formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup .formWrapper iframe {
    width: 500px;
    max-width: 90%;
}
